body{
	background-color:#7B8846;
	margin:0px;
	padding:0px;
}
.d_table{
	display:table;
}
.d_tr{
	display:table-row;
}
.d_td{
	display:table-cell;
}
.main{
	width:100%;
	height:100%;
}
.lef{
	width:200px;
	background-color:#CE4718;
}
ul{
	text-decoration:none;
	margin:0px;
	padding:0px;
}
ul li{	
	list-style-type:none;
}
.navig{
	width:144px;
	background-color:#CE4718;
}
ul li.l_about a{
	background-color:#CBA200;
}
ul li.l_proj a{
	background-color:#C0AC66;
}
ul li.l_cont a{
	background-color:#528846; 
}
ul li.l_home a{
	background-color:#7B8846;
}
ul li a{
	display:block;
	float:right;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	color:#FFFFFF;
	font-size:19px;
	width:122px;
	height:144px;
	border:0 none;
}
.logo{
	display:block;
	float:right;
	text-align:center;
	height:100px;
	width:122px;
	background-color:#FF6600;
	padding-top:15px;
}





















